:root {
  --black-dark: #0D102F;
  --black-light: #cfcfd5;
  --green-dark: #05e785;
  --green-light: #cdfae7;
  --blue-dark: #0411ec;
  --blue-light: #cdcffb;
  --sky-dark: #05e2db;
  --sky-light: #cdf9f8;
}

.material-icons {
  padding-right: 10px;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--black-light);
}

button{
align-items: center;
background-color: white;
border-color: var(--black-dark);
border-radius: 4px;
border-style: solid;
border-width: 1px;
box-shadow: none;
color: var(--black-dark);
cursor: default;
display: inline-flex;
font-family: Roboto, sans-serif;
font-size: 14px;
font-weight: bold;
height: 36px;
justify-content: center;
margin: 8px 16px;
outline-color: var(--black-dark);
overflow: hidden;
padding: 0px 15px;
position: relative;
text-align: center;
text-transform: uppercase;
vertical-align: middle;
}
